:root {
    --resources-height: 20px;
    
    --grid-cols-val: 5;
    --grid-cols-pc: 20%;
    
    --menu-build-size: 64px;
    --menu-upgrade-size: 64px;

    --color-cons: blue;
    --color-des: red;

    --width-tooltip: 250px;
}

* {
	margin: 0;
	padding: 0;
} 
  
html {
	background-color: white;
	/* can't select text */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

body {
	background-color: white;
	height: 100%;
	width: 100%;
	overflow-y: auto;
    overflow-x: hidden;
	z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

#resources {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.resourceDiv {
    border: 1px solid red;
    border-radius: 4px;
    padding: 2px;
    flex: 1;
    margin: 2px;
    min-width: 100px;
    height: var(--resources-height);
}

#grid {
    /* border: 1px solid red; */
    border-radius: 4px;
    width: 98%;
    min-width: 250px;
    max-width: calc(97vh - var(--resources-height) - 3%);
    margin: 1%;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(var(--grid-cols-val), var(--grid-cols-pc));
    max-height: calc(97vh - var(--resources-height) - 3%);
}

.menu-column {
    /* border: 1px solid red; */
    border-radius: 4px;
    min-width: calc(25px + 2 * var(--menu-build-size));
    max-width: calc(25px + 2 * var(--menu-build-size));
    margin: 1%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
}

.title-menu {
    width: 100%;
    text-align: center;
    font-size: x-large;
}

.building-menu-elem {
    border: 1px solid green;
    border-radius: 4px;
    width: var(--menu-build-size);
    height: var(--menu-build-size);
    padding: 0;
    margin: 5px;
    aspect-ratio: 1;
}

.menu-selected {
    border: 1px solid brown !important;
    background-color: rgba(132, 15, 15, 0.1);
}

.building-menu-elem img,
.upgrade-menu-elem img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.building-menu-elem:hover,
.upgrade-menu-elem:hover {
    background-color: rgba(1,1,1,0.1);
}

.cell {
    /* border: 1px solid green; */
    border-radius: 4px;
    aspect-ratio: 1;
    position: relative;
}

.cell:hover {
    background-color: rgba(1,1,1,0.2);
}

.cell > div {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cell img {
    width: 88%;
    height: 88%;
}

.cell .progress-bar {
    height: 8%;
    width: 90%;

    background-color: grey;
    border-radius: 6px;
    padding: 2px;
}

.grid-effects {
    position: absolute;

    bottom: 10%;
    width: 100%;
    height: 20%;
    min-height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-effects img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    aspect-ratio: 1 / 1;
}

.progress-bar > div {
    height: 100%;
    border-radius: 6px;
}

.progress-upgrade {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}

.progress-upgrade > div {
    position: absolute;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(1,1,1,0.2);
    bottom: 0;
}

#popups {
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;
    height: 99%;
    width: 200px;
    display: flex;
    flex-direction: column-reverse;pointer-events: none;
    overflow: hidden;
}

.popup {
    background-color: beige;
    border-radius: 8px;
    border: 1px solid red;
    width: calc(100% - 6px);
    padding: 3px;
    margin-top: 10px;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
    pointer-events: all;
}

.invisible-popup {
    visibility: hidden;
    opacity: 0;
}

.squish-popup {
    margin: 0;
    padding: 0;
    height: 0;
}

/* tooltips */
body {
    .tooltip {
        position: relative;
        display: inline-block;
    }
    
    .tooltip-content {
        visibility: hidden;
        min-width: var(--width-tooltip);
        background-color: #555;
        color: #fff;
        text-align: left;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        transition-delay: 0.5s;
        display: inline-block;
        height: auto;
        pointer-events: none;
    }
    
    .tooltip-top .tooltip-content {
        bottom: calc(100% + 6px);
        left: 50%;
        margin-left: calc(0px - calc(var(--width-tooltip) / 2));
    }
    
    .tooltip-right .tooltip-content {
        top: -5px;
        left: calc(100% + 6px);
    }
    
    .tooltip-left .tooltip-content {
        top: -5px;
        right: calc(100% + 6px);
    }
    
    .tooltip-bottom .tooltip-content {
        top: calc(100% + 6px);
        left: 50%;
        margin-left: calc(0px - calc(var(--width-tooltip) / 2));
    }
    
    .tooltip .tooltip-content::after {
        content: "";
        position: absolute;
        border-style: solid;
    }
    
    .tooltip-top .tooltip-content::after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: #555 transparent transparent transparent;
    }
    
    /* .tooltip-right .tooltip-content::after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent #555 transparent transparent;
    } */
    
    /* .tooltip-left .tooltip-content::after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent transparent transparent #555;
    } */
    
    .tooltip-bottom .tooltip-content::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: transparent transparent #555 transparent;
    }
    
    .tooltip:hover .tooltip-content {
        visibility: visible;
        opacity: 1;
    }

    .tooltip-content-separator,
    .tooltip-content-name,
    .tooltip-content-description {
        text-align: center;
    }

    .tooltip-content-name {
        width: 100%;
        font-size: larger;
    }

    .tooltip-content-build,
    .tooltip-content-dest,
    .tooltip-content-cost,
    .tooltip-content-produce,
    .tooltip-content-effect,
    .tooltip-content-use,
    .tooltip-content-durability,
    .tooltip-content-research {
        padding-left: 3px;
        padding-right: 3px;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 6px);
    }
}

.upgrade-menu-elem {
    border: 1px solid green;
    border-radius: 4px;
    width: var(--menu-upgrade-size);
    height: var(--menu-upgrade-size);
    padding: 0;
    margin: 5px;
    aspect-ratio: 1;
}

#tuto {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.9);
    z-index: 200;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

#tuto-button {
    margin-top: 50px;
    border: 1px solid whitesmoke;
    padding: 10xp;
    border-radius: 5px;
}

#tuto-button:hover {
    background-color: rgba(255,255,255,0.3);
}


.visible {
    display: inline-block;
}

.invisible {
    display: none !important;
}